.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 47, 47, 0.56);
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #3c2f2f;
  background-color: #f7f3ee;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c2f2f;
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input {
  outline: none;
  border: 1px solid #c89f5d;
  padding: 10px;
  border-radius: 8px;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: #c89f5d;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}
.login-popup-condition input {
  margin-top: 5px;
}
.login-popup p span {
  color: #c89f5d;
  font-weight: 500;
  cursor: pointer;
}
