.footer {
  color: #3c2f2f;
  background: linear-gradient(135deg, #f7f3ee 0%, #ede7de 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  color: #3c2f2f;
  transition: all 0.3s ease;
}
.footer-content-left li:hover,
.footer-content-right li:hover,
.footer-content-center li:hover {
  color: #c89f5d;
  padding-left: 5px;
}
.footer-content-right h2,
.footer-content-center h2 {
  color: #3c2f2f;
  font-weight: 600;
}
.footer-content-left h2 {
  color: #3c2f2f;
  font-weight: 600;
}
.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: brightness(0.7);
}
.footer-social-icons img:hover {
  filter: brightness(1);
  transform: scale(1.1);
  background-color: #c89f5d;
  border-radius: 50%;
}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0px;
  background-color: #c89f5d;
  border: none;
}
.footer-copyright {
  color: #3c2f2f;
}
.footer-copyright p {
  color: #3c2f2f;
}
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copyright {
    text-align: center;
  }
}
/* Adjust logo size */
#imp {
  width: 120px; /* change as you like */
  height: auto; /* keeps correct proportions */
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid black;
}
