.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  background-color: #f7f3ee;
  border-bottom: 1px solid #c89f5d;
}
.navbar .logo {
  width: max(10%, 80px);
}
.navbar .profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
